<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleMenu">
	<resultMap id="roleMenuResultMap" type="com.taikang.udp.sys.model.RoleMenuBO">
		<result property="roleId" column="Role_Id"/>
		<result property="menuId" column="Menu_Id"/>
		<result property="creator" column="CREATOR"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="lastModby" column="LAST_MODBY"/>
		<result property="lastModtime" column="LAST_MODTIME"/>
  	</resultMap>
  
  	<sql id="roleMenuWhereCondition">
		<where>
	  	<if test=" role_id != null ">
	  		<![CDATA[ AND A.Role_Id = ${role_id} ]]>
	  	</if>
	  	<if test=" menu_id != null ">
	  		<![CDATA[ AND A.Menu_Id = ${menu_id} ]]>
	  	</if>
	  	<if test=" creator != null ">
	  		<![CDATA[ AND A.CREATOR = ${creator} ]]>
	  	</if>
	  	<if test=" create_time != null and create_time != '' and create_time  != 'null' ">
	    	<![CDATA[ AND A.CREATE_TIME = DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%s') ]]>
	  	</if>
	  	<if test=" last_modby != null ">
	  		<![CDATA[ AND A.LAST_MODBY = ${last_modby} ]]>
	  	</if>
	  	<if test=" last_modtime != null and last_modtime != '' and last_modtime  != 'null' ">
	    	<![CDATA[ AND A.LAST_MODTIME = DATE_FORMAT(#{last_modtime},'%Y-%m-%d %H:%i:%s') ]]>
	  	</if>
		</where>
  	</sql>

  	<insert id="addRoleMenu"  parameterType="java.util.Map">
		<![CDATA[
	  	INSERT INTO BSC_ROLE_MENU_T
		]]>
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test=" role_id  != null ">
				<![CDATA[ Role_Id , ]]>
	  		</if>
	  		<if test=" menu_id  != null ">
				<![CDATA[ Menu_Id , ]]>
	  		</if>
	  		<if test=" creator  != null ">
				<![CDATA[ CREATOR , ]]>
	  		</if>
	  		<if test=" create_time  != null and  create_time  != ''  and  create_time  != 'null' ">
				<![CDATA[ CREATE_TIME , ]]>
	  		</if>
	  		<if test=" last_modby  != null ">
				<![CDATA[ LAST_MODBY , ]]>
	  		</if>
	  		<if test=" last_modtime  != null and  last_modtime  != ''  and  last_modtime  != 'null' ">
				<![CDATA[ LAST_MODTIME , ]]>
	  		</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test=" role_id  != null">
	    		<![CDATA[ ${role_id} , ]]>
	  		</if>
	  		<if test=" menu_id  != null">
	    		<![CDATA[ ${menu_id} , ]]>
	  		</if>
	  		<if test=" creator  != null">
	    		<![CDATA[ ${creator} , ]]>
	  		</if>
	  		<if test=" create_time != null and create_time != '' and create_time  != 'null' ">
	    		<![CDATA[ DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%s'), ]]>
	  		</if>
	  		<if test=" last_modby  != null">
	    		<![CDATA[ ${last_modby} , ]]>
	  		</if>
	  		<if test=" last_modtime != null and last_modtime != '' and last_modtime  != 'null' ">
	    		<![CDATA[ DATE_FORMAT(#{last_modtime},'%Y-%m-%d %H:%i:%s'), ]]>
	  		</if>
		</trim>
  	</insert>
 
  	<update id="updateRoleMenu" parameterType="java.util.Map">
		<![CDATA[ UPDATE BSC_ROLE_MENU_T A ]]>
		<set>
		<if test=" menu_id  != null ">
  			<![CDATA[ A.Menu_Id = ${menu_id} , ]]>
		</if>
		<if test=" creator  != null ">
  			<![CDATA[ A.CREATOR = ${creator} , ]]>
		</if>
	  	<if test=" create_time != null and create_time != '' and create_time  != 'null' ">
	    	<![CDATA[ A.CREATE_TIME = DATE_FORMAT(#{create_time},'%Y-%m-%d %H:%i:%s'), ]]>
	  	</if>
		<if test=" last_modby  != null ">
  			<![CDATA[ A.LAST_MODBY = ${last_modby} , ]]>
		</if>
	  	<if test=" last_modtime != null and last_modtime != '' and last_modtime  != 'null' ">
	    	<![CDATA[ A.LAST_MODTIME = DATE_FORMAT(#{last_modtime},'%Y-%m-%d %H:%i:%s'), ]]>
	  	</if>
		</set>
		<![CDATA[ where A.ROLE_ID = #{role_id}]]>
  	</update>
  
  	<delete id="deleteRoleMenu" parameterType="java.util.Map">
		<![CDATA[ DELETE FROM BSC_ROLE_MENU_T where ROLE_ID = #{role_id} ]]>
	</delete>
  
    <delete id="deleteRoleMenuByMenuId" parameterType="java.util.Map">
        <![CDATA[ DELETE FROM BSC_ROLE_MENU_T where Menu_Id = #{menu_id} ]]>
    </delete>
    
	<select id="findOneRoleMenu" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[ SELECT A.* FROM BSC_ROLE_MENU_T A  ]]>
		<include refid="roleMenuWhereCondition" />
  	</select>
    
  	<select id="findAllRoleMenu" parameterType="java.util.Map" resultType="java.util.Map" >
		<![CDATA[ SELECT A.* FROM BSC_ROLE_MENU_T A ]]>
		<include refid="roleMenuWhereCondition" />
  	</select>
  	
  	<select id="findAllMapRoleMenu" parameterType="java.util.Map" resultType="com.taikang.udp.framework.common.datastructre.impl.BaseDto" >
		<![CDATA[ SELECT A.* FROM BSC_ROLE_MENU_T A ]]>
		<include refid="roleMenuWhereCondition" />
	</select>
  
  	<select id="findRoleMenuTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
		<![CDATA[ SELECT  COUNT(1) FROM BSC_ROLE_MENU_T A ]]>
		<include refid="roleMenuWhereCondition" />
  	</select>
  
  	<select id="queryRoleMenuForPage" parameterType="java.util.Map" resultType="com.taikang.udp.framework.common.datastructre.impl.BaseDto">
		<![CDATA[ SELECT A.* FROM BSC_ROLE_MENU_T A ]]>
		<include refid="roleMenuWhereCondition" />
  	</select>
</mapper>
